* {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.nav-bar {
  background-color: antiquewhite;
  height: 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-youtube {
  padding-left: 20px;
  font-size: 30px;
}

.nav-left p {
  font-size: 20px;
  font-weight: bold;
  /* color: #fff; */
}

.nav-mdl {
  display: flex;
  width: 40%;
  height: 60%;
}
.nav-mdl button {
  width: 15%;
}
.nav-mdl input {
  width: 100%;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bell {
  margin: 0 20px;
}
.nav-right img {
  width: 30px;
  border-radius: 100%;
}

.fa-youtube {
  color: red;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  background-color: beige;
}

.video {
  /* background-color: red; */
  width: 60%;
  height: 100vh;
}

.bar-right {
  position: absolute;
  top: 30px;
  right: 0;
  width: 40%;
  background-color: yellow;
  height: 100vh;
}

.video p {
  margin: 20px auto;
  font-size: 24px;
}

.element {
  display: flex;
  font-size: 20px;
  margin: 10px auto;
}

.element span {
  padding-right: 20px;
  font-size: 12px;
}

.element i {
  padding-right: 8px;
}

.element a {
  display: flex;
  text-decoration: none;
  color: black;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
}
