* {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.nav-bar {
  background-color: antiquewhite;
  height: 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-youtube {
  padding-left: 20px;
  font-size: 30px;
}

.nav-left p {
  font-size: 20px;
  font-weight: bold;
  /* color: #fff; */
}

.nav-mdl {
  display: flex;
  width: 40%;
  height: 60%;
}
.nav-mdl button {
  width: 15%;
}
.nav-mdl input {
  width: 100%;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bell {
  margin: 0 20px;
}
.nav-right img {
  width: 30px;
  border-radius: 100%;
}

.fa-youtube {
  color: red;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  background-color: beige;
}

.video {
  /* background-color: red; */
  width: 60%;
  height: 100vh;
  border-bottom: 1px solid black;
}

.bar-right {
  position: absolute;
  top: 30px;
  right: 0;
  width: 40%;
  background-color: yellow;
  height: 100vh;
}

.video p {
  margin: 20px 10px;
  font-size: 24px;
}

.element {
  display: flex;
  font-size: 20px;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}

.element span {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.element i {
  padding-right: 8px;
}

.element a {
  display: flex;
  text-decoration: none;
  color: black;

  align-items: center;
}

.subscrib {
  margin-top: 30px;
  padding: 15px;
  border-bottom: 1px solid black;

  padding-bottom: 30px;
}

.chanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chanel div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chanel div img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chanel button {
  color: #fff;
  background-color: red;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.subscrib .description {
  width: 80%;
  font-size: 12px;
  margin: auto;
  font-weight: 500;
  padding: 10px;
}

/* ******************
***** bar-right *****
*********************/
.bar-right {
  margin: auto;
  display: flex;
}

.s-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.s-video img {
  /* width: 50%; */
  height: 120px;
}

.v-desc {
  /* width: 40%; */
}
